<div class="hero text-center">
    <h1>Softair Tournament Manager</h1>
    <span class="badge badge-military mb-3">Circuito F.I.G.T. - Tipologia PCR</span>
    <p>
      Questo gestionale è progettato per supportare l'organizzazione, la gestione e il calcolo dei punteggi
      nei tornei di Softair appartenenti al circuito F.I.G.T., specialmente per la tipologia di gara PCR (Pattuglia Corto Raggio).
      L'interfaccia semplifica la creazione di squadre, la registrazione dei punteggi e il monitoraggio in tempo reale delle classifiche.
    </p>
  </div>