<table class="table table-dark table-borderless border-secondary">
    <thead class="thead">
        <tr class="border-secondary">
            <th>Nome squadra</th>
            <th>Callsign</th>
            <th>Canale Radio</th>
            <th>Ora test ASG</th>
            <th>Ora infiltrazione</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let torneoSquadra of listaTorneoSquadre" class="border-top border-secondary">
            <td>{{ torneoSquadra.nomeSquadra}}</td>
            <td>{{ torneoSquadra.callSign }}</td>
            <td>{{ torneoSquadra.radioCh }}</td>
            <td>{{ torneoSquadra.oraTestAsg }}</td>
            <td>{{ torneoSquadra.oraIncursione }}</td>
            <td>
                <a [routerLink]="['/punteggi', torneoSquadra.idTorneo, torneoSquadra.idSquadra]" class="btn btn-outline-secondary" ngbTooltip="Punteggi squadra"
                    placement="bottom">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>