<p>Stai vedendo i punteggi del torneo della squadra {{idSquadra}}</p>

<table class="table table-dark table-borderless border-secondary">
    <thead class="thead">
        <tr class="border-secondary">
            <th>Numero obiettivo</th>
            <th>Nome obiettivo</th>
            <th>Canale Comunicazioni</th>
            <th>Tipologia</th>
            <th>Punteggio raggiunto</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obiettivo of obiettivi; let i = index" class="border-top border-secondary">
            <td>{{ i + 1 }}</td>
            <td>{{ obiettivo.nome}}</td>
            <td>{{ obiettivo.canaleComunicazioni }}</td>
            <td>{{ obiettivo.tipologia }} <span *ngIf="obiettivo.faseE"> + E</span></td>
            <td>{{ obiettivo.punteggi[0].id }}</td>
            <td></td>
        </tr>
    </tbody>
</table>