<h2>Stai vedendo i punteggi del torneo della squadra <span class="text-danger mb-3">{{squadra.nome}}</span></h2>

<table class="table table-dark table-borderless border-secondary mt-3">
    <thead class="thead">
        <tr class="border-secondary">
            <th>Numero obiettivo</th>
            <th>Nome obiettivo</th>
            <th>Canale Comunicazioni</th>
            <th>Tipologia</th>
            <th>Punteggio raggiunto</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obiettivo of obiettivi; let i = index" class="border-top border-secondary">
            <td>{{ i + 1 }}</td>
            <td>{{ obiettivo.nome}}</td>
            <td>{{ obiettivo.canaleComunicazioni }}</td>
            <td>{{ obiettivo.tipologia }} <span *ngIf="obiettivo.faseE"> + E</span></td>
            <td>{{ obiettivo.punteggi[0].id }}</td>
            <td>
                <a [routerLink]="['/calcolo-punteggi', obiettivo.punteggi[0].id, idSquadra, obiettivo.id]" class="btn btn-outline-secondary" ngbTooltip="Punteggi squadra"
                    placement="bottom">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>