<div class="modal-header">
    <h4 class="modal-title">Mappa - {{luogoNome}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- Contenuto della tua mappa qui -->
    <p>Parcheggio: {{parcheggio}}</p>
    <p>FOB: {{fob}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Chiudi</button>
  </div>