<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">My tournament</span>
    
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/classifica/1" routerLinkActive="active">Classifica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dettaglio-torneo/1" routerLinkActive="active">Torneo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>