<table class="table table-dark table-borderless border-secondary">
    <thead class="thead">
        <tr class="border-secondary">
            <th>Id</th>
            <th>Nome torneo</th>
            <th>Data torneo</th>
            <th>Luogo torneo</th>
            <th>Squadra organizzatrice</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let torneo of tornei" class="border-top border-secondary">
            <td>{{ torneo.id }}</td>
            <td>{{ torneo.nome }}</td>
            <td>{{ torneo.dataInizio }}</td>
            <td>
                <a href="javascript:void(0)" (click)="apriMappaDialog(torneo.luogo, torneo.parcheggio, torneo.fob)">
                    {{ torneo.luogo }}
                </a>
            </td>
            <td>{{ torneo.squadraOrganizzatrice }}</td>
            <td>
                <a [routerLink]="['/dettaglio-torneo', torneo.id]" class="btn btn-outline-secondary" ngbTooltip="Dettaglio torneo"
                    placement="bottom">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>